body {
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


@media (max-width: 480px) {
    .oe_empt form#helpdesk_ticket_form {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.oe_empt #forms {
    margin: 0 auto;
}


main h2.text-center.text-muted span {
    padding-top: 32px;
    display: block;
}
#forms form label {
    font-size: 13px;
}
#forms form .rate label {
    font-size: 30px;
}

@media screen and (max-width: 991px) {
    #forms form select.form-control option {
        font-size: 12px;
    }
}

#oe_structure_portal_my_home_1{
    display: none;
}

.priority-star-review label:hover, .priority-star-review label:focus {
    color: #ccc !important;
}
.priority-star-review label.checked {
    color: #ffc700 !important;
}

