<?xml version='1.0' encoding='utf-8'?>
<odoo>
    
    <data>
    
        <menuitem
            id="qhse_program_menu"
            name="QHSE"
            sequence="10"
            web_icon="qhse_program,static/description/icon.png"
        />
    
        <menuitem
            id="qa_menu"
            name="Quality Assurance"
            parent="qhse_program.qhse_program_menu"
            sequence="100"
        />
    
        <menuitem
            id="qc_menu"
            name="Quality Control"
            parent="qhse_program.qhse_program_menu"
            sequence="100"
        />
    
        <menuitem
            id="hse_menu"
            name="Health, Safety, Env"
            parent="qhse_program.qhse_program_menu"
            sequence="100"
        />
    
        <menuitem
            id="configuration_menu"
            name="Configuration"
            parent="qhse_program.qhse_program_menu"
            sequence="1000"
        />

        <record id="qhse_team_action" model="ir.actions.act_window">
            <field name="name">QHSE Team</field>
            <field name="res_model">department.team</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[]</field>
            <field name="context">{'search_default_qhse_team': 1}</field>
        </record>
    
        <menuitem
            id="qhse_team_menu"
            name="Team"
            parent="qhse_program.configuration_menu"
            action='qhse_program.qhse_team_action'
            sequence="10"
        />
    
    </data>
    

</odoo>