.printer-status {
    &-unknown {
        background-color: var(--gray-600);
        color: var(--warning) !important;
    }
    &-online {
        background-color: var(--success);
        color: var(--white) !important;
    }

    &-offline {
        background-color: var(--gray-600);
        color: var(--warning) !important;
    }

    .focus {
        background-color: color-mix(in srgb, var(--success) 90%, black) !important;
        color: var(--white) !important;
    }
}